---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const lang = 'en';
---

<Layout title="Collections | Kssmi Eyewear" lang={lang}>
  <Header lang={lang} />

  <main>
    <!-- Collection page content will be added here -->
  </main>

  <Footer lang={lang} />
</Layout>
